$body-font-family: 'Roboto';
$title-font: 'Roboto';
$sharing-code: "varsace-b";
$price_dollar: #ff89b6;
$price_dollar_md: #bc5680;
$price_dollar_deep: #754154;
$amount_color: #D9E778;
$color_price_plan_start: rgba(#f8a95d, 0.8);
$color_price_plan_end: #b77f55;
$color_price_plan_edark: #302317;
$color_price_plan_light: rgba(#fdf8c6, 0.8);

$hk1: rgba(#feada6, 0.9);
$hk2: rgba(#ebf8e1, 0.7);
$hk3: rgba(#f5efef, 0.9);

$color_dared: rgba(#a23717, 0.9);
$color_deep_plan: #281B25;
$color_deep_plan_h: #4c3045;
$color_dp_light: rgba($color_deep_plan_h, 0.4);
$color_peach: rgba(#f5efef, 0.6);
$color_upc: rgba(#fecfef, 0.8);
$color_upg: rgba(#f9d423, 0.95);
$color_upr: rgba(#ff9a9e, 0.99);
$color_ufr: rgba(#f83600, 0.99);

