@font-face {
  font-family: "LED";
  src: url("~assets/font/DigitalDismay.otf");
}

@font-face {
  font-family: "MBS";
  src: url("~assets/font/MaxterBoardSt.ttf");
}

@font-face {
  font-family: "IED";
  src: url("~assets/font/FiraMono-Bold.otf");
}

@font-face {
  font-family: "TLED";
  src: url("~assets/font/Segment7Standard.otf");
}

@font-face {
  font-family: "LCD7";
  src: url("~assets/font/modern_lcd-7.ttf");
}

@font-face {
  font-family: "RoundEd";
  src: url("~assets/font/Organo.ttf");
}

@font-face {
  font-family: "Playstation3";
  src: url("~assets/font/Slim-Play.ttf");
}

@font-face {
  font-family: "PlaystationX";
  src: url("~assets/font/RaveInYourPans.otf");
}


@font-face {
  font-family: "SakuraX";
  src: url("~assets/font/Chopin-Script-Font/ChopinScript.otf");
}

/*

@font-face {
  font-family: "Isocpeur";
  src: url("~assets/font/Isocpeur.ttf");
}*/

@font-face {
  font-family: "varsace";
  src: url("~assets/font/radiant/OPTIRadiant-Bold.otf");
}
@font-face {
  font-family: "varsace-b";
  src: url("~assets/font/radiant/OPTIRadiant-ExtraBold.otf");
}
@font-face {
  font-family: "ElementalEnd";
  src: url("~assets/font/Elemental-End.ttf");
}

@font-face {
  font-family: "Gear";
  src: url("~assets/font/Gear.ttf");
}

@font-face {
  font-family: "Prida";
  src: url("~assets/font/Prida65.otf");
}

@font-face {
  font-family: "Starworld";
  src: url("~assets/font/StarworldGameCube.ttf");
}

@font-face {
  font-family: "mmac";
  src: url("~assets/font/MakeMeACyborg.otf");
}
@font-face {
  font-family: "kofi";
  src: url("~assets/font/KOFI.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("~assets/font/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Yellowtail";
  src: url("~assets/font/Yellowtail-Regular.ttf");
}
